.record_number_container {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table_container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.add_button {
    margin-bottom: 16px;
};